/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Body */

body {
    font-family: Arial, sans-serif;
    background-color: #e7f2f9;
    margin: 0;
    padding: 0;
}


/*Blog Container*/

.container {
    max-width: 1000px;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #5520f3;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.action-buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
}

.action-buttons button:hover {
    background-color: #0056b3;
}

a.edit-link {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

a.view-link {
    color: #fff;
    background-color: #2f2e2c;
    border-color: #d58512;
    text-decoration: none;
    padding: 5px;
    font-size: 1.5rem;
}

.delete-link {
    color: #fff;
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
}

a.action-link,
button.action-link {
    display: inline-block;
    margin-bottom: 0;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 22px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.create-blog-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
    margin-bottom: 20px;
}

.create-blog-button:hover {
    background-color: #0056b3;
}

.form-group span {
    color: rgb(201, 85, 85);
    font-weight: 700;
    margin-top: 10px;
}

div.success {
    background-color: rgb(108, 224, 108);
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
    border-radius: 12px;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    color: #007bff;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    margin: 0 5px;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination a {
    display: inline-block;
}

.pagination svg.w-5.h-5 {
    display: none;
}

.pagination p.text-sm {
    padding: 15px;
}

.pagination a[rel=next] {
    display: none;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 150px;
}

.blog-details {
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

button.form-btn {
    background-color: #007bff !important;
}

table {
    margin-top: 20px;
}

h2 {
    margin-top: 0;
    font-size: 21px;
    font-weight: 700;
}

h3 {
    margin-top: 0;
    font-size: 17px;
    font-weight: 700;
}

p {
    margin: 0;
}

.success-message {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
